<div class="footer-content">
  <mat-card>
      <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
          <div class="item item-1" fxFlex="100%">
              <button id="email" mat-raised-button matTooltip="9111883489, 7887363899" color="accent" class="paragraph">  {{"shubham@mapinfotech.in"|lowercase}} </button>
          </div>
      </div><br>

      <div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="50%">
          <p style="text-align: center" class="footer-para">
              It is a long established fact that a reader will be distracted by the readable content  of a page when looking at its layout. <br> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of  letters, as opposed to using 'Content here,  content here', making it look like readable English.
          </p>
        </div>
      </div>

      <div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="0px"
      fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="33%" style="text-align: center;">
            <button mat-fab color='primary' class="blink" style="float: right;"> <i class="fa fa-facebook"></i> </button>           
        </div>
        <div class="item item-1" fxFlex="33%" style="text-align: center">
            <button mat-fab color='primary' class="blink"><i class="fa fa-linkedin"></i></button> 
        </div>
        <div class="item item-1" fxFlex="33%" style="text-align: center">
            <button mat-fab color='primary' class="blink" style="float: left;"><i class="fa fa-instagram"></i></button> 
        </div>
      </div>

      <div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="0px"
      fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="100%" style="text-align: center;">
          <p class="paragraph">Developer: Shubham singh</p> 
        </div>
      </div>
  </mat-card>
</div>