/* enterance animation */
@keyframes enterance {
    from {
       transform: translateY(200px);
       opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* enterance animation end*/

/* enterance animation for sub objects */
@keyframes contentEnterance {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translate(0px);
    }
}
/* enterance animation for sub objects end*/

.mat-card {
    /* width: 30%; */
    margin: auto;
    padding-top: 0px;
}
mat-form-field {
    width: 100%;
}

button:hover{
    background: #4285F4
}

button {
    transition-property: background;
    transition-duration: 0.5s;
}

