<mat-progress-bar *ngIf="isLoaded" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <mat-card-title>Welcome to knowledge portal</mat-card-title>
  <mat-card>
    <p class="paragraph"> This is a small initiative taken towards the goal of actual learning, not root learning. </p>
  </mat-card>
  <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="50%">
        <img src="./../../assets/albert.jpg" alt="KP">
    </div>
    
    <div class="item item-1" fxFlex="50%">
      <img src="./../../assets/school.jpg" alt="KP">
    </div>
  </div>
  <mat-card>
    <p class="paragraph"> We'll give our best to get you all those things here which is not necessary to memorize. </p>
    <p class="paragraph"> Do anyone asks you something about the history or memorizing stuff? </p>
    <p class="paragraph"> Be free to come to <span class="kp"> knowledge portal </span> anytime. </p>
  </mat-card>
</mat-card>
